---
import { astroI18n, l, t } from 'astro-i18n';
import { Icon } from 'astro-icon/components';

import DropdownItem from '../foundations/DropdownItem.astro';
import DropdownMenu from '../foundations/DropdownMenu.astro';

const labels: Record<string, string> = {
  ko: '한국어',
  en: 'English',
  ja: '日本語',
};

const params = Object.entries(Astro.params).reduce<Record<string, string>>(
  (acc, [key, value]) => {
    return value !== undefined ? { ...acc, [key]: String(value) } : acc;
  },
  {},
);

const links = astroI18n.locales.map((locale) => ({
  href: l(Astro.url.pathname, params, {
    targetLocale: locale,
  }),
  translatedLocale: t(`locale.${locale}`),
  locale: labels[locale],
}));
---

<DropdownMenu>
  <Icon slot='trigger' name='lucide:languages' />

  {
    links.map(({ href, translatedLocale, locale }) => (
      <DropdownItem>
        <a href={href} class='-mx-4 -my-2 px-4 py-2'>
          <div class='flex w-32 items-center gap-2'>
            <span>{translatedLocale}</span>
            <span class='text-sm opacity-50'>{locale}</span>
          </div>
        </a>
      </DropdownItem>
    ))
  }
</DropdownMenu>
