@font-face {
  font-family: 'DM Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(/fonts/DMSans-Variable.ttf) format('truetype-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Monaspace Variable';
  font-style: monospace;
  font-display: swap;
  font-weight: 100 1000;
  src: url(/fonts/Monaspace.ttf) format('truetype-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'MPLUS1p Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(/fonts/MPLUS1-Variable.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'SUIT Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(/fonts/SUIT-Variable.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'SUITE Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(/fonts/SUITE-Variable.ttf) format('truetype-variations');
}
