body {
  @apply font-sans text-foreground bg-background selection:bg-foreground selection:text-background;
  scroll-behavior: smooth;
  line-height: 140%;
  letter-spacing: -0.05em;
  font-size: 16px;
  box-sizing: border-box;

  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'ss03';
}

p,
li,
td,
th,
blockquote {
  letter-spacing: -0.025em;
}

a,
#post-content a {
  @apply decoration-foreground/20 underline-offset-4 underline hover:decoration-foreground transition-colors duration-200;
}
