body [data-rehype-pretty-code-fragment] *,
body [data-rehype-pretty-code-figure] * {
  @apply font-mono;
  font-feature-settings: 'calt', 'liga', 'dlig', 'ss01', 'ss02', 'ss03', 'ss04',
    'ss05', 'ss06', 'ss07', 'ss08';
  letter-spacing: initial;
  line-height: 1.6;
}

hr {
  opacity: 0.1;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
}

code:before,
code:after {
  content: '' !important;
}

.dark {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
  }
}

pre > code {
  counter-reset: line;
}
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

.dark [data-highlighted-line],
.dark [data-line].highlighted {
  background: rgba(200, 200, 255, 0.1);
}

[data-highlighted-line],
[data-line].highlighted {
  @apply bg-black bg-opacity-5 border-l-blue-400;
  margin: 0 -16px;
  padding: 0 16px;
}

[data-highlighted-chars] {
  @apply bg-blue-600 bg-opacity-10 rounded shadow-blue-600/10;
  box-shadow: 0 0 0 4px var(--tw-shadow-color);
}

.dark [data-highlighted-chars] {
  @apply bg-blue-600 bg-opacity-20 rounded shadow-blue-600/20;
}

[data-chars-id] {
  @apply shadow-none p-1;
}

.diff {
  margin: 0 -16px;
  padding: 0 16px;
}

.diff.add {
  @apply bg-green-500 bg-opacity-10;

  &:before {
    content: '+';
    @apply text-green-500;
  }
}

.diff.remove {
  @apply bg-red-500 bg-opacity-10;

  &:before {
    content: '-';

    @apply text-red-500;
  }
}

body [data-line].highlighted.error {
  @apply bg-red-500 bg-opacity-10;
}

body [data-line].highlighted.warning {
  @apply bg-yellow-500 bg-opacity-10;
}

body [data-line].highlighted.error {
  @apply border-l-2 border-red-500;

  span {
    @apply -translate-x-0.5 inline-block;
  }
}

body [data-line].highlighted.warning {
  @apply border-l-2 border-yellow-500;

  > span {
    @apply -translate-x-0.5 inline-block;
  }
}

[data-rehype-pretty-code-title] {
  @apply font-mono rounded-t-lg pt-3 pb-2 px-4 text-sm bg-[var(--tw-prose-pre-bg)] dark:bg-background mt-0 text-foreground/40 border-b-foreground/10 border-b;
}

figcaption + pre {
  @apply !rounded-t-none;
}

figure[data-rehype-pretty-code-figure] {
  @apply p-4 md:p-8 bg-foreground/10 rounded-lg relative;
  pre {
    @apply rounded-lg shadow-lg;
  }

  figcaption[data-rehype-pretty-code-caption] {
    @apply absolute -translate-x-1/2 left-1/2;
  }

  &:has(figcaption) {
    @apply pb-12;
  }
}

.dark figure[data-rehype-pretty-code-figure] {
  @apply bg-foreground/5;
  pre {
    @apply !bg-background;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply flex items-center;
  &:hover button {
    @apply opacity-75;

    &:hover {
      @apply opacity-100 scale-110;
    }
  }
}
