@import "./typography.css";

.prose {
  user-select: text;
}

.prose > h1:not(.no-prose) {
  @apply typo-sans;
  margin: 1em 0;
}

.prose > h2:not(.no-prose) {
  @apply typo-sans;
  margin: 1em 0;
}

.prose > h3:not(.no-prose) {
  @apply typo-serif-bold;
  margin: 1em 0;
}

.prose > h4:not(.no-prose) {
  @apply typo-serif-bold;
  margin: 1em 0;
}

.prose > h5:not(.no-prose) {
  @apply typo-serif-bold;
  margin: 1em 0;
}

.prose > h6:not(.no-prose) {
  @apply typo-serif-bold;
  margin: 1em 0;
}

.prose strong {
  @apply typo-serif-bold;
}

.prose > p:not(.no-prose) {
  @apply typo-serif;
  margin: 0.5em 0;
  text-underline-offset: 0.2em;
}

.prose > ol {
  list-style: decimal;
  margin: 1em 0 1em 1.5em;
}

.prose > ul {
  list-style: disc;
  margin: 1em 0 1em 1.25em;
}

.prose > ul ::marker {
  font-size: 0.8em;
}

.prose > ol li, .prose > ul li {
  @apply typo-serif;
  margin: 0.3em 0;
  text-underline-offset: 0.2em;
}


.prose > ul li::marker {
  color: --alpha(var(--color-foreground) / 25%);
}

.prose > div.expressive-code {
  margin: 1em 0;
  font-family: var(--font-code);
  font-feature-settings: "ss01", "ss02", "ss03", "ss04", "ss05", "cv02", "cv03", "cv05", "cv10";
}

.prose > div.expressive-code .title {
  color: --alpha(var(--color-foreground) / 70%);
}

.prose > .footnotes {
  @apply typo-caption;
  margin: 0.3em 0;
  opacity: 0.5;
  border-top: 1px solid currentColor;
  padding-top: 1em;
}

.prose > .footnotes .data-footnote-backref {
  font-family: var(--font-sans);
}

.prose > .footnotes ol {
  list-style: decimal;
  margin: 1em 0 1em 1.5em;
}

.prose > p kbd {
  background-color: --alpha(var(--color-foreground) / 10%);
  border-radius: 0.25em;
  color: --alpha(var(--color-foreground) / 70%);
  padding: 0.1em 0.3em;
  font-size: 0.9em;
}

.prose > blockquote {
  @apply typo-serif-bold leading-[1.4];
  font-weight: 900;
  text-align: center;
  font-size: 1.75em;
  text-wrap: balance;
  margin: 2em 0;
}

.prose > blockquote cite {
  @apply typo-caption;
  font-size: 1rem;
  display: block;
  text-align: center;
  font-style: normal;

  margin: 1em 0 0;
}

.prose > p code {
  font-size: 0.9em;
}

html .prose > *:first-child {
  margin-top: 0;
}

html .expressive-code figcaption:last-child {
  background-color: transparent;
}

.prose hr {
  background:var(--color-foreground);
  opacity: 0.1;
  height: 1px;
  border: 0;
  margin: 4em 0;
}

html .expressive-code figcaption {
  font-size: 0.875em;
  color: --alpha(var(--color-foreground) / 60%);
}
