@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-foreground: oklch(18.18% 0.002 106.6);
  --color-background: oklch(99.641% 0.00655 97.462);
  --color-accent: oklch(58.13% 0.2127 33.31);
  --color-surface: oklch(95.641% 0.00655 97.462);
}

.dark {
  --color-foreground: oklch(98.67% 0.0106 100.82);
  --color-background: oklch(19.08% 0.002 106.59);
  --color-accent: oklch(65.59% 0.2327 34.52);
  --color-surface: oklch(23.08% 0.002 106.59);
}

:lang(ja) {
  --font-pretendard: "Pretendard JP Variable";
}

:lang(ko) {
  --font-pretendard: "Pretendard Variable";
  --font-noto-serif: "Noto Serif KR";
  --font-commit-mono: "Commit Mono";
}

:lang(en) {
  --font-pretendard: "Pretendard Variable";
  --font-noto-serif: "Noto Serif KR";
  --font-commit-mono: "Commit Mono"
}

@theme {
  --color-*: initial;

  --font-sans:
    var(--font-pretendard, ''),
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Noto Emoji",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-serif:
    var(--font-noto-serif, ''),
    ui-serif,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;
  --font-mono:
    var(--font-commit-mono, ''),
    ui-monospace,
    monospace;
  --font-code: var(--font-mono);
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
  --color-accent: var(--color-accent);
  --color-surface: var(--color-surface);
  --color-white: #fff;
}
