@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-foreground: oklch(18.18% 0.002 106.6);
  --color-background: oklab(97% -0.00129 -0.00329);
  --color-accent: oklch(58.13% 0.2127 33.31);
  --color-surface: oklab(94% -0.00129 -0.00329);
}

.dark {
  --color-foreground: oklch(98.67% 0.0106 100.82);
  --color-background: oklch(19.08% 0.002 106.59);
  --color-accent: oklch(65.59% 0.2327 34.52);
  --color-surface: oklch(23.08% 0.002 106.59);
}

:lang(ja) {
  --font-custom-sans: var(--font-inter, ''), 'Noto Sans JP';
  --font-custom-serif: 'Noto Serif JP';
}

:lang(ko) {
  --font-custom-sans: var(--font-pretendard, '');
  --font-custom-serif: var(--font-noto-serif-kr, '');
  --font-serif-weight: 450;
  --font-serif-letter-spacing: -0.05em;
  --font-serif-weight-bold: 700;
}


:lang(en) {
  --font-custom-sans: var(--font-inter, '');
  --font-custom-serif: var(--font-serif-en, '');
  --font-serif-weight: 400;
  --font-serif-letter-spacing: 0em;
}

@theme {
  --color-*: initial;

  --font-sans:
    var(--font-custom-sans, ''),
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Noto Emoji",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-serif: var(--font-custom-serif, '');
  --font-mono:
    var(--font-commit-mono, ''),
    ui-monospace,
    monospace;
  --font-code: var(--font-mono);
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
  --color-accent: var(--color-accent);
  --color-surface: var(--color-surface);
  --color-white: #fff;
}
