
html {
  font-size: 16px;
  font-feature-settings: "calt", "ss01", "ss02", "ss03", "ss15", "ss11";
}

@utility typo-caption {
  font-family: var(--font-sans);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: --alpha(var(--color-foreground) / 80%);
}


@utility typo-sans {
  font-family: var(--font-sans);
  font-size: 0.970rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--color-foreground);
}

@utility typo-serif {
  font-family: var(--font-serif);
  font-size: var(--font-serif-size, 0.9rem);
  font-weight: var(--font-serif-weight, 400);
  line-height: var(--tw-leading, 2);
  letter-spacing: var(--font-serif-letter-spacing, -0.02em);
  color: --alpha(var(--color-foreground) / 70%);
}

@utility typo-serif-bold {
  @apply typo-serif;
  font-weight: var(--font-serif-weight-bold, 600);
  color: var(--color-foreground);
}

@utility typo-sans-bold {
  @apply typo-sans;
  font-weight: 600;
}
