---
import { getAbsoluteLocaleUrl as l } from 'astro:i18n';
import * as m from '@/paraglide/messages';

import { languageTag } from '@/paraglide/runtime';
import Logo from '@/client/ui/foundations/Logo.astro';

interface Props {
  fluid?: boolean;
}

const { fluid = true } = Astro.props;
---

<custom-header data-fluid={fluid ? 'true' : 'false'}>
  <header
    class='fixed left-0 top-0 z-50 flex w-full items-center justify-between bg-gradient-to-b from-background to-transparent pb-2 pr-4 backdrop-blur-[1px]'
  >
    <a
      href={l(languageTag(), '/')}
      class='flex items-center space-x-4 pt-2 group'
    >
      <div class='bg-background pl-2'>
        <Logo cn='size-8' />
      </div>
    </a>
    <menu class='flex items-center gap-4 pt-2 uppercase leading-normal'>
      <a
        href={l(languageTag(), '/about')}
        class='opacity-50 hover:opacity-100 no-underline transition-opacity'
      >
        {m.aboutMe()}
      </a>
      <a
        href={l(languageTag(), '/works')}
        class='opacity-50 hover:opacity-100 no-underline transition-opacity'
      >
        {m.works()}
      </a>
      <a
        href={l(languageTag(), '/posts')}
        class='opacity-50 hover:opacity-100 no-underline transition-opacity'
      >
        {m.blog()}
      </a>
      <a
        href={l(languageTag(), '/now')}
        class='opacity-50 hover:opacity-100 no-underline transition-opacity'
      >
        {m.now()}
      </a>
    </menu>
  </header>
</custom-header>

<script>
  class CustomHeader extends HTMLElement {
    logo: HTMLAnchorElement | null = null;
    menuContainer: HTMLMenuElement | null = null;

    transition = 'transform 0.75s cubic-bezier(.66,0,.26,1)';

    constructor() {
      super();

      const fluid = this.dataset.fluid === 'true';

      if (!fluid) {
        return;
      }

      this.logo = this.querySelector('a');
      this.menuContainer = this.querySelector('menu');

      window.addEventListener('scroll', this.animateHeader.bind(this));
      this.animateHeader();

      setTimeout(() => {
        if (!this.logo || !this.menuContainer) return;
        this.logo.style.transition = this.transition;
        this.menuContainer.style.transition = this.transition;
      }, 0);
    }

    animateHeader() {
      if (!this.logo || !this.menuContainer) return;

      if (window.scrollY > 10) {
        this.logo.style.transform = 'translateX(0)';
        this.menuContainer.style.transform = 'translateX(0)';
      } else {
        this.logo.style.transform =
          'translateX(calc((100vw - min(1184px,100vw)) / 2))';
        this.menuContainer.style.transform =
          'translateX(calc((min(1184px,100vw) - 100vw) / 2))';
      }
    }
  }

  customElements.define('custom-header', CustomHeader);
</script>
