---
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import { Languages } from 'lucide-astro';

import DropdownItem from '../foundations/DropdownItem.astro';
import DropdownMenu from '../foundations/DropdownMenu.astro';

import * as m from '@/paraglide/messages';

const labels: Record<string, string> = {
  ko: '한국어',
  en: 'English',
  ja: '日本語',
};

const translatedLabels: Record<string, string> = {
  ko: m.localeKo(),
  en: m.localeEn(),
  ja: m.localeJa(),
};

// TODO: Shoud Check
// const params = Object.entries(Astro.params).reduce<Record<string, string>>(
//   (acc, [key, value]) => {
//     return value !== undefined ? { ...acc, [key]: String(value) } : acc;
//   },
//   {},
// );

const links = ['ko', 'en', 'ja'].map((locale) => ({
  href: getAbsoluteLocaleUrl(
    locale,
    Astro.url.pathname.replace('/en', '').replace('/ja', '').replace('/ko', ''),
  ),
  translatedLocale: translatedLabels[locale],
  locale: labels[locale],
}));
---

<DropdownMenu>
  <Languages slot='trigger' />

  {
    links.map(({ href, translatedLocale, locale }) => (
      <DropdownItem>
        <a href={href} class='-mx-4 -my-2 px-4 py-2 no-underline'>
          <div class='flex w-32 items-center gap-2'>
            <span>{translatedLocale}</span>
            <span class='text-sm opacity-50'>{locale}</span>
          </div>
        </a>
      </DropdownItem>
    ))
  }
</DropdownMenu>
