---
import { ArrowRight } from 'lucide-astro';

interface Props {
  to: string;
}

const { to } = Astro.props;
---

<index-button data-to={to}>
  <button
    class:list={'duration-50 flex w-full appearance-none items-center justify-between border-t-2 border-foreground py-2 pr-2 text-start text-lg transition-colors ease-out-expo hover:bg-foreground hover:text-background'}
    type='button'
  >
    <slot />
    <ArrowRight />
  </button>
</index-button>

<script lang='ts'>
  class IndexButton extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector('button');
      const to = this.dataset.to;

      if (!button || !to) return;

      button.addEventListener('click', () => {
        document.getElementById(to)?.scrollIntoView({ behavior: 'smooth' });
      });
    }
  }

  customElements.define('index-button', IndexButton);
</script>
