---
import { getCollection } from 'astro:content';
import { getAbsoluteLocaleUrl as l } from 'astro:i18n';

import * as m from '@/paraglide/messages';
import { languageTag } from '@/paraglide/runtime';
import { normalizeSlug } from '../../../utils/normalizeSlug';

const currentLocale = languageTag();

const posts = await getCollection('posts', (post) => {
  return post.data.locale === currentLocale;
});
---

<section id='blog' class='container px-2 py-24 md:py-32 lg:py-44'>
  <h2 class='text-2xl md:text-3xl font-extrabold'>
    {m.blog()}
  </h2>
  {
    posts.map((post) => (
      <div>
        <h2 class='mb-2 text-xl font-bold'>{post.data.title}</h2>
        <p class='text-gray-600'>{post.data.description}</p>
        <a
          href={l(currentLocale, `/posts/${normalizeSlug(post.slug)}`)}
          class='text-blue-500 hover:underline'
        >
          Read more
        </a>
      </div>
    ))
  }
</section>
