---
import { i18n } from '@/i18n/utils';
import Layout from '../layouts/BlogPost.astro';

const { t } = i18n(Astro.url);
---

<Layout
	headings={[]}
	title={t('about')}
	description=""
	pubDate={new Date('2025-08-24')}
>
	    <div class="mt-8">
      <p class="typo-serif rounded-md bg-surface text-center p-4" set:html={t('notImplementedYet')}>
      </p>
    </div>
</Layout>
