---
import DynamicLogo from '@/components/DynamicLogo.astro';
import Contacts from '@/components/main/Contacts.astro';
import Experiences from '@/components/main/Experiences.astro';
import RecommendPeople from '@/components/main/RecommendPeople.astro';
import { i18n } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const { t } = i18n(Astro.url);
---

<Layout>
  <div class="container flex flex-col gap-16 min-h-screen mb-24">
	  <section>
      <div class="mb-4">
        <DynamicLogo />
      </div>
      <h1 class="typo-sans-bold hidden vt-name-[title]">{t('name')}</h1>
      <h1 class="typo-sans-bold vt-name-[name]">{t('name')}</h1>
      <h2 class="typo-serif-bold mt-4 leading-relaxed [&:lang(ko)]:text-balance" set:html={t('greeting')}></h2>
      <p class="typo-serif my-[1em]">
        {t('mainAboutMe')}
      </p>
    </section>

    <Experiences />

    <Contacts />

    <RecommendPeople />
  </div>
</Layout>
