---
import DynamicLogo from '@/components/DynamicLogo.astro';
import Contacts from '@/components/main/Contacts.astro';
import Experiences from '@/components/main/Experiences.astro';
import RecommendPeople from '@/components/main/RecommendPeople.astro';
import Signature from '@/components/Signature.astro';
import { i18n } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const { t } = i18n(Astro.url);
---

<Layout>
  <div class="container flex flex-col gap-16 min-h-screen mb-24">
	  <section>
      <div class="mb-4">
        <DynamicLogo />
      </div>
      <h1 class="typo-sans-bold hidden vt-name-[title]">{t('name')}</h1>
      <h1 class="typo-sans-bold vt-name-[name]">{t('name')}</h1>
      <h2 class="typo-serif-bold mt-4 leading-relaxed text-balance" set:html={t('greeting')}></h2>
      <p class="typo-serif my-[1em]">
        {t('mainAboutMe')}
      </p>
    </section>

    <Experiences />

    <Contacts />

    <RecommendPeople />


      <div class="signature-container float-end w-1/3 relative mt-12 min-w-[200px]">
        <Signature className='w-full h-full text-foreground' />

        <div class="absolute w-full h-px bg-foreground/10 bottom-4" />
      </div>
  </div>
</Layout>
