---
import DynamicLogo from '@/components/DynamicLogo.astro';
import Contacts from '@/components/main/Contacts.astro';
import Experiences from '@/components/main/Experiences.astro';
import RecommendPeople from '@/components/main/RecommendPeople.astro';
import * as m from '@/i18n/paraglide/messages';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="container flex flex-col gap-16 min-h-screen mb-24">
	  <section>
      <div class="mb-4">
        <DynamicLogo />
      </div>
      <h1 class="typo-headline-small hidden vt-name-[title]">{m.name()}</h1>
      <h1 class="typo-headline-small vt-name-[name]">{m.name()}</h1>
      <h2 class="typo-subtitle-large mt-4" set:html={m.greeting()}></h2>
      <p class="typo-body-large my-[1em] [&:lang(ko)]:text-balance">
        {m.mainAboutMe()}
      </p>
    </section>

    <Experiences />

    <Contacts />

    <RecommendPeople />
  </div>
</Layout>
