---
import Layout from '@/layouts/Layout.astro';
import * as m from '@/i18n/paraglide/messages';
import Bookselves from '@/components/now/Bookselves.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';
import { languageTag } from '@/i18n/paraglide/runtime';
import FormattedDate from '@/components/FormattedDate.astro';
import Gadgets from '@/components/now/Gadgets.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import '@/styles/prose.css';

const now = await getCollection('now');
const nowContent = now.find((item) => item.id === languageTag());
const { Content } = await render(nowContent as CollectionEntry<'now'>);
const nowOgImage = getRelativeLocaleUrl(languageTag(), '/open-graph/now.png').slice(0, -1);
---

<Layout title={m.now()} ogImage={nowOgImage} description={m.nowDescription()}>

  <div class="container flex flex-col gap-24 min-h-screen mb-24">
    <section>
      <h1 class="typo-headline-small vt-name-[title] title">{m.now() }</h1>
      <p class="typo-headline-small opacity-50 vt-name-[name] author">{m.name()}</p>
      <p class="typo-subtitle-small !text-foreground/50 date mt-8"><FormattedDate date={nowContent?.data.updatedDate || new Date()} /></p>
      <div class="prose no-initial my-[1em]">
        <Content />
      </div>
    </section>

    <Bookselves />

    <Gadgets/>
  </div>
</Layout>
