---
import { Image } from 'astro:assets';
---

<div id='get-in-touch' class='flex flex-col'>
  <h2 class='whitespace-nowrap text-2xl font-bold'>같이 이야기 나눠요</h2>
  <p class='opacity-80'>
    동해물과 백두산이 마르고 닳도록
    <br />
    하느님이 보우하사 우리나라 만세
  </p>
  <div class='relative h-32 w-32'>
    <Image
      src='/images/signature.png'
      alt='ㄱㅣㄹㅂㅓㅁㅈㅜㄴ'
      width={300}
      height={300}
      class:list={'absolute w-full h-full inset-0 dark:invert object-contain group-hover:opacity-0 transition-opacity'}
    />
  </div>
</div>
