---
import { Image } from 'astro:assets';
---

<div id='get-in-touch'>
  <div class='relative m-8 h-48 w-48'>
    <Image
      src='/images/signature.png'
      alt='ㄱㅣㄹㅂㅓㅁㅈㅜㄴ'
      width={300}
      height={300}
      class:list={'absolute w-full h-full inset-0 dark:invert object-contain group-hover:opacity-0 transition-opacity'}
    />
  </div>
</div>
