---
import { Image } from 'astro:assets';

import Name from '@/ui/foundations/Name.astro';
---

<div id='get-in-touch' class='flex w-full flex-col lg:w-auto lg:pr-48'>
  <div class='flex flex-col gap-2 pb-12'>
    <h2 class='whitespace-nowrap text-2xl font-bold'>같이 이야기 나눠요</h2>
    <p class='leading-relaxed opacity-80'>
      동해물과 백두산이 마르고 닳도록
      <br />
      하느님이 보우하사 우리나라 만세
    </p>
  </div>
  <div class='group relative flex h-24 w-24 items-center'>
    <Name
      cn='h-8 w-auto opacity-30 blur-none transition-all duration-1000 group-hover:opacity-0 group-hover:blur-md'
    />
    <Image
      src='/images/signature.png'
      alt='ㄱㅣㄹㅂㅓㅁㅈㅜㄴ'
      width={200}
      height={200}
      class:list={'absolute blur-md group-hover:blur-none duration-1000 transiton-all group-hover:opacity-100 opacity-0 w-full h-full inset-0 dark:invert object-contain group-hover:opacity-0 transition-opacity'}
    />
  </div>
</div>
