---
import { t } from 'astro-i18n';

import IndexButton from './IndexButton.astro';
---

<div
  class:list={'flex w-full shrink-0 grow-0 flex-col items-start justify-center gap-4 px-2 md:h-full md:w-[60rem]'}
>
  <h1
    class='flex flex-col items-start font-sans text-3xl font-extrabold md:text-4xl'
  >
    <span class='block overflow-hidden'>
      <span
        class='block duration-1000 animate-in fade-in slide-in-from-bottom fill-mode-both'
        style={{ animationDelay: '0.25s' }}
      >
        {t('main.greeting')}
      </span>
    </span>
    <span class='block overflow-hidden'>
      <span
        class='block duration-1000 animate-in fade-in slide-in-from-bottom fill-mode-both'
        style={{ animationDelay: '0.5s' }}
      >
        {t('main.myNameIs')}{t('fullName')}{t('main.myNameIsSuffix')}
      </span>
    </span>
  </h1>
  <div class='overflow-hidden'>
    <p
      class:list={'whitespace-nowrap opacity-50 duration-1000 animate-in fade-in slide-in-from-bottom fill-mode-both'}
      style={{ animationDelay: '1s' }}
    >
      {t('main.greetingDescription')}
    </p>
  </div>
  <div class:list={'mt-20 flex min-w-[16rem] flex-col gap-4 self-end'}>
    <IndexButton to='about'>
      {t('main.aboutMe')}
    </IndexButton>

    <IndexButton to='blog'>
      {t('main.blog')}
    </IndexButton>
    <IndexButton to='contact'>
      {t('main.getInTouch')}
    </IndexButton>
  </div>
</div>
