---
import Signature from './Signature.astro';

const today = new Date();
---

<footer class="bg-foreground dark:bg-surface !text-background dark:!text-foreground sticky bottom-0 -z-10 py-16">
  <div class="bg-foreground dark:bg-surface h-12 absolute -top-12 left-0 right-0"></div>

  <section class="container">
	<div class="flex justify-center items-center aspect-[32/9]">
	</div>

  </section>
</footer>

