---
import { i18n } from '@/i18n/utils';
import HeaderLink from './HeaderLink.astro';
import I18NLink from './I18nLink.astro';
import LanguageSelector from './LanguageSelector.astro';
import Logo from './Logo.astro';
import ThemeSelector from './ThemeSelector.astro';

const pathname = Astro.url.pathname;
const isMainPage = ['/', '/ja', '/en', '/ja/', '/en/'].includes(pathname);
const { t } = i18n(Astro.url);
---
<button popovertarget="nav" popovertargetaction="toggle" class="fixed vt-name-[menu-button] right-4 top-4 text-foreground z-50 lg:hidden">
  <svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke-width="1.5"
  stroke="currentColor"
  class="size-6"
  >
  <path
  stroke-linecap="round"
  stroke-linejoin="round"
  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
  />
</svg>
<span class="sr-only">메뉴 열기</span>
</button>

<header class="fixed top-0 z-40">
  <nav class="p-4">
    <I18NLink data-astro-prefetch="viewport" href="/" class={`absolute block left-4 top-4 ${isMainPage ? 'opacity-0 w-0' : 'vt-name-[logo]'}`}>
      <Logo className="size-8" />
    </I18NLink>

    <diva
    id="nav"
    popover="auto"
    class:list={[
      'w-full h-full p-4 lg:flex lg:bg-transparent lg:relative lg:flex-col lg:ml-0 lg:p-0 lg:items-start lg:justify-start lg:gap-4 lg:translate-y-10 lg:vt-name-[header-links]',
      {'lg:!translate-y-12': !isMainPage}
    ]}
    >
    <div class="flex flex-col items-start gap-8 lg:gap-4">
      <div class="flex items-center justify-between w-full lg:hidden gap-4">
        <I18NLink href="/">
          <Logo className="size-8" />
        </I18NLink>
    <button class="lg:hidden hider" popovertarget="nav" popovertargetaction="toggle" >
      (Close)
      <span class="sr-only">메뉴 닫기</span>
    </button>
    </div>
        <HeaderLink data-astro-prefetch="viewport" href="/about">{t('about')}</HeaderLink>
        <HeaderLink data-astro-prefetch="viewport" href="/writing">{t('writing')}</HeaderLink>
        <HeaderLink data-astro-prefetch="viewport" href="/projects">{t('projects')}</HeaderLink>
        <HeaderLink data-astro-prefetch="viewport" href="/now">{t('now')}</HeaderLink>
    </div>
  </nav>

  <div class="gradient-blur fixed top-0 left-0 right-0 h-16 -z-10">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="gradient-blur-overlay fixed top-0 left-0 right-0 h-16 -z-10"></div>
</header>

<style>

  @media screen and (max-width: 1024px) {
    #nav[popover] {
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease, display 0.5s allow-discrete, backdrop-filter 0.5s ease;
      background-color: --alpha(var(--color-background)/50%);

      opacity: 0;
      backdrop-filter: blur(0px);
      transform: scale(1.25);
    }
  }

    #nav[popover]:popover-open {
    opacity: 1;
    transform: scale(1);
      backdrop-filter: blur(8px);

    @starting-style {
      & {
        opacity: 0;
        transform: scale(1.25);
      }
    }

}
</style>
