---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { type AvailableLanguageTag, languageTag } from '@/i18n/paraglide/runtime';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
  locale?: AvailableLanguageTag;
};

const { href, class: className, locale, ...props } = Astro.props;

const newHref = getRelativeLocaleUrl(
  locale ?? languageTag(),
  (href as string).replace('/ja', '').replace('/en', '').replace('/ko', ''),
);
---

<a href={newHref} class={className ? className : 'link'} {...props}>
	<slot />
</a>
